body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #999;
  background: #333;
}

h1 {
  color: #999;
  text-align: center;
  font-weight: 100;
}

.temps {
}
.temps > div {
	border-bottom: 1px solid #666;
	padding: 5px 0;
}
.temps .sensor {
	font-weight: normal;
	padding-top: 4px;
}

.temps .temperature {
	text-align: right;
	font-weight: normal;
}
